@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Dongle:wght@700&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Dancing+Script&family=Dongle:wght@700&family=Roboto:wght@900&display=swap');

body {
  background-color: #B8E2F2;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}


.navbar .user-info {
  font-size: 35px;
  font-family: 'Dancing Script', cursive;
}

.navbar .logout-btn {
  background-color: #ccc;
  border: none;
  color: #333;
  padding: 5px 10px;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}

.navbar .logout-btn:hover {
  background-color: black;
  color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.todo-widget {
  font-family: 'Bruno Ace', cursive;
  ;
  background-color: #B8E2F2;
  padding: 10px;
  border-radius: 5px;
}

.todo-widget h2 {
  margin: 0;
  padding-bottom: 10px;
}

#new-task-input {
  width: 200px;
  margin-right: 10px;
}

#add-task-btn {
  background-color: #6a4caf;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.calendar-widget {
  background-color: #f5f5f5;
  padding: 10px;
  width: 500px;
  display: inline-block;
}

.calendar-widget h2 {
  margin: 0;
  padding-bottom: 10px;
}

#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  font-size: 15px;
}

#calendar .day {
  text-align: center;
  padding: 5px;
}

#calendar .day:hover {
  background-color: lightgray;
}

#calendar .today {
  background-color: #4CAF50;
  border-radius: 15px;
  color: white;
}

#calendar .today:hover {
  background-color: lightgreen;
}