@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&family=family=Dongle:wght@700&family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap");

body {
  background-image: url(assets/images/space.jpg);
  font-family: "Orbitron", sans-serif;
  padding: 0;
  margin: 0;
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
}

.navbar .user-info {
  flex: 1;
  font-size: 35px;
  font-family: "Orbitron", sans-serif;
}

.navbar .time {
  padding-right: 15px;
  justify-content: end;
  font-weight: bold;
  font-family: "Orbitron", sans-serif;
  color: #ffffff;
  font-size: 35px;
}

.navbar .logout-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.navbar .logout-btn:hover {
  background-color: lightcoral;
  color: black;
}

.dashboard-container {
  display: flex;
  flex-wrap: wrap;
}

.calendar-widget,
.todo-widget,
.player {
  flex: 1 0 300px; /* Each div will take up equal width on the same row */
}

.calendar-widget:hover {
  transform: scale(1.05);
}
.todo-widget:hover {
  transform: scale(1.05);
}
.player:hover {
  transform: scale(1.05);
}

.Title {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  .calendar-widget,
  .todo-widget,
  .player {
    max-width: 33.33%;
  }
}

.selected {
  color: grey;
}

#currentlyPlaying {
  color: green;
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
  list-style: none;
}

#songsheading {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

#astronautimg {
  height: 70px;
  width: 50px;
}

.player {
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  border-style: solid;
  background-color: beige;
  font-family: "Orbitron", sans-serif;
}

.player h2 {
  margin: 0;
  text-align: center;
  padding-bottom: 10px;
  margin-right: 10px;

}

#trackList {
  margin: 0px;
  font-weight: bold;
  list-style: none;
  padding: 0;
}

li {
  cursor: pointer;
  margin-bottom: 0px;
}

#audioPlayer {
  margin-top: 0px;
  width: 100%;
}

#space2 {
  height: 50px;
  width: 50px;
}

.todo-widget {
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  border-style: solid;
  background-color: pink;
  font-family: "Orbitron", sans-serif;
}

.todo-widget .Title {
  padding-bottom: 5px ;
}

.todo-widget h2 {
  margin: 0;
  text-align: center;
  padding-bottom: 10px;
  margin-right: 10px;
}

#new-task-input {
  width: 200px;
  margin-right: 10px;
}

#add-task-btn {
  background-color: #6a4caf;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.calendar-widget {
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  border-style: solid;
  background-color: #f5f5f5;
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
}

.calendar-widget h2 {
  margin: 0;
  text-align: center;
  padding-bottom: 10px;
  margin-right: 10px;
}

#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  font-size: 15px;
}

#calendar .day {
  text-align: center;
  padding: 5px;
}

#calendar .day:hover {
  background-color: lightgray;
}

#calendar .today {
  background-color: #4caf50;
  border-radius: 10px;
  color: white;
}

#calendar .today:hover {
  background-color: lightgreen;
}

#images {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
  align-items: end;
  gap: 2px;
  justify-content: end;
}

#whatsappimg {
  height: 100px;
  text-align: end;
  width: 100px;
}

#instagramimg {
  height: 100px;
  width: 100px;
}

#youtubeimg {
  flex: none;
  height: 80px;
  width: 100px;
}

#tiktokimg {
  height: 100px;
  width: 100px;
}

#twitterimg {
  height: 100px;
  width: 100px;
}

#facebookimg {
  height: 100px;
  width: 100px;
}

#githubimg {
  height: 100px;
  width: 100px;
}

#googleimg {
  height: 100px;
  width: 100px;
}

#telegramimg {
  height: 100px;
  width: 100px;
}

#pinterestimg {
  height: 100px;
  width: 100px;
}

#rocket {
  width: 50px;
  height: 50px;
}

#space3 {
  display: flex;
  width: 50px;
  height: 50px;
}
